<!doctype html>
<title>{% block title %}{% endblock %} - Zelda</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Zelda</h1>
    <ul>
        <li><a href="{{ url_for('note.list_html') }}">Notes</a>
        <li><a href="{{ url_for('note.add') }}">Add</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>